html {
	overflow: hidden;
}
body {
	font-family: 'Roboto', 'Helvetica', 'Arial', 'Sans Serif';
	max-width: 100%;
	overflow-x: hidden;
	background: url('../images/snow2.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin: 0; padding: 0;
	height:100%;
}
.background {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}
#content {
	clear: left;
	width: 100vw;
	height: 100vh;
	background-color: #aaa;
}
#map{
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin: 0; padding: 0;
	height: 100%;
}
/*
#logo {
	position: absolute;
	z-index: 2;
	top: 10px;
	left: 10px;
}
#logo img {
	margin: 10px 0px 0px 10px;
}
*/
#sidebar {
	position: absolute;
	z-index: 3;
	top: 20px;
	left: 20px;
	width: 275px;
	bottom: 20px;
	background-color: rgba(0,0,0,0.5);
	font-size: 1.2em;
}
/*
#smallMap{
	position: absolute;
	z-index: 3;
	top: 660px;
	left: 20px;
	width: 220px;
	height: 100px;
}
*/
#timelineBox {
	position: absolute;
	z-index: 3;
	bottom: 20px;
	left: 20px;
	right: 20px;
	height: 100px;
	background-color: rgba(0,0,0,0.5);
}
.timelineBoxInternal {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.ol-zoom { /* controls the position of the zoom button */
	position: absolute;
	left: auto;
	right: 20px;
	top: 20px;
}
p {
	color: #fff;
	font-size: 0.7em;
	/*text-align: center;
	line-height: 80%;*/
}
.outputResultsBack {
	background-color: "#00FF00";
	float: right;
	width: 100px;
	height: 100px;
	overflow: scroll;
	font-size: 0.7em;
}
#row {
	color: #fff;
}
.row input{
	float: left;
}
.slide {
	margin: 0 2% 0 2%;
}
.btn {
	display: inline-block;
	border-radius: 5px;
	border: none;
	height: 30px;
	padding: 0;
	margin: 10px;
	font-size: 0.8em;
	letter-spacing: 2px;
}
.sm { width: 19%; }
.thr { width: 32%; }
.md { width: 48%; }
.lg { width: 98%; }
.text {
	font-family: "Montserrat", "sans-serif";
	color: #fff;
	font-weight: 500;
	line-height: 82.5px;
	text-transform: uppercase;
}

/* for the scrollbar on the side */
div.scroll {
	background-color: rgba(0,0,0,0.5);
	width: 70px;
	/*height: 95%;*/
	overflow: hidden;
}
.container .content1 { background-color: rgba(6,4,2,0.5); }
.container .header { background-color: rgba(1,7,2,0.5); padding: 10px; cursor: pointer; font-weight: bold; }
.container .content1 { display: none; padding: 0px; }
label { display: block; rgba(0,0,0,0.5): Window; margin: 0; padding: 0; width: 100%; }
.container { color: #fff; }
/* end */