html { overflow: hidden; }
body {
	font-family: 'Roboto', 'Helvetica', 'Arial', 'Sans Serif';
	max-width: 100%;
	overflow-x: hidden;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin: 0; padding: 0;
	height:100%;
}
a:link, a:visited { text-decoration: none; color: #00BFFF; }
a:hover { color: white; }
a:active { color: pink; }
.background {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}	
#content {
	clear: left;
	width: 100vw;
	height: 100vh;
	background-color: #aaa;
}
#map{
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin: 0; padding: 0;
	height: 100%;
	background-color: #000;
}
/* controls the position of openlayers map zoom and attribute buttons */
.ol-zoom { position: absolute; left: auto; right: 10px; top: 40px; }
.ol-zoom button { background: rgba(40, 40, 40, 0.8); }
.ol-zoom button:hover { background: rgb(255, 255, 255); color: rgb(40, 40, 40); }
.ol-attribution { display: none; }

/* logo placement upper right */
#logo { position: absolute; z-index: 6; top: 30px; right: 55px; }
#logo img { margin: 10px 0px 0px 10px; }

/*
#nameTimelineBox {
	position: absolute;
	z-index: 4;
	bottom: 20px;
	left: 20px;
	width: 80px;
	height: 60px;
	background-color: rgba(0,0,0,0.5);
	border: white 1px solid;
}
#nameTimelineBoxText {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	color: #00BFFF;
	font-size: 1.2em;
	text-align: center;
}
*/
#timelineYears {
	position: absolute;
	z-index: 3;
	bottom: 20px;
	left: 20px;
	width: 28%;
	height: 60px;
	background-color: rgba(0,0,0,0.5);
	border: white 1px solid;
}
#timelineDays {
	position: absolute;
	z-index: 3;
	bottom: 20px;
	right: 20px;
	width: 68%;
	height: 60px;
	background-color: rgba(0,0,0,0.5);
	border: white 1px solid;
}
.slide { margin: 10px 20px 10px 20px; }

/* output for coordinates on bottom right */
.bottomRight {
	z-index: 5;
	position: absolute;
	bottom: 90px;
	right: 20px;
	margin: 0px;
	padding: 0px;
	background-color: rgba(0,0,0,0.5);
	font-size: 1.2em;
}
#mouse-position{ color: #fff; font-align: center; font-size: 0.8em; margin: 5px; }

/* output for scale-line on bottom left */
.ol-scale-line {
	background-color: rgba(0,0,0,0.5);
	position: absolute;
	bottom: 100px;
	left: 17px;
}

.outputResultsBack {
	background-color: "#00FF00";
	float: right;
	width: 100px;
	height: 100px;
	overflow: scroll;
	font-size: 0.7em;
}
.text {
	font-family: "Montserrat", "sans-serif";
	color: #fff;
	font-weight: 500;
	line-height: 82.5px;
	text-transform: uppercase;
}

.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #bee2f9;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bee2f9;
	box-shadow:inset 0px 1px 0px 0px #bee2f9;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #63b8ee), color-stop(1, #468ccf));
	background:-moz-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
	background:-webkit-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
	background:-o-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
	background:-ms-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
	background:linear-gradient(to bottom, #63b8ee 5%, #468ccf 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee', endColorstr='#468ccf',GradientType=0);
	background-color:#63b8ee;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #3866a3;
	display:inline-block;
	cursor:pointer;
	color:#ebf2fa;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #7cacde;
	margin: 5px;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #468ccf), color-stop(1, #63b8ee));
	background:-moz-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
	background:-webkit-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
	background:-o-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
	background:-ms-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
	background:linear-gradient(to bottom, #468ccf 5%, #63b8ee 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#468ccf', endColorstr='#63b8ee',GradientType=0);
	background-color:#468ccf;
}
.myButton:active {
	position:relative;
	top:1px;
}