*{margin:0px; padding:0px}
*{margin:0px; padding:0px}
header, footer,section,nav{display:blocks}
body {
	background:url("img/antarctica.jpg")
}
.container{
	margin: 10px auto;
	width:96%;
	font-family:arial;
}
h2 {
	color: #333;
	font-family: Helvetica,Arial;
	font-weight: bold;
	line-height: 1.1em;
	padding-bottom: 5px;
	text-shadow: 0 1px 0 #FFF;
	font-size: 25px;
}
h1 {
	font-family: 'Big Caslon', 'Book Antiqua', 'Palatino Linotype', Georgia, serif;
	font-size: 28px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: 25px;
	color:#F5F9FB;
}
h2 a {
	color: #333;
	text-decoration:none;	
}
h2 a:hover {
	color: #333;
	text-decoration:none;	
	background-color:#81c3de;
}
.roundEdge {
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}
#main, #header, #nav {overflow:auto;}
#nav{background-color:#162336}
#footer {
	height:5px;
	border-top:2px solid #333333;
}
#footer p {
	padding:2px 0px 0px 0px;
	font-size:15px;
}
#content {
	float:left;
	width:70%;
	background-color:#dedede;
	height: 80vh;
	text-align:center;
	opacity: .8; 
}
#content article {
	margin-bottom:10px;
}
#sidebar {
	float:right;
	width:25%;
	background-color:#fefefe;
	height: 80vh;
	text-align:center;
	opacity: .7; 
}

#nav {
	overflow:auto;
}
#nav ul {
	list-style:none;
	height:30px;
	padding:0px;
	margin:0px;
}
#nav ul li {
	float:left;
	font-size:12px;
	font-weight:bold;
}
#nav ul li a {
	color:#ffffff;text-decoration:none;display:block;padding:12px;text-align:center;min-width:100px;
}
#nav ul li a:hover {
	background-color:#81c3de;
	color:#333333;
}
#logo {
	margin:10px;
}
#ads {
	text-align:center;
}

.center {
    margin: auto;
    width: 70%;
    padding: 10px;
}

#map {
    height: 80vh;
    width: 100%; 
    margin: 0 auto; 
}
.loading {
    margin-top: 10em;
    text-align: center;
    color: gray;
}

.rectangle {
    border: 1px solid #FF0000;
    position: absolute;
}

.myButton {
	background-color: AliceBlue;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-size:13px;
	padding:2px 20px;
	margin: 2px 3px 2px 3px;
	text-decoration:none;
}
.myButton:hover {
	background-color: "AliceBlue";
}
.myButton:active {
	position:relative;
	top:1px;
}